li {
  display: inline;
  margin: 0 2rem;
  list-style-type: none; }

.inputTextColor {
  color: black; }

.lightBlueText {
  color: #87c0cd; }

.blackText {
  color: black; }

.lbBgColor {
  background-color: #87c0cd; }

.mainBgColor {
  background-color: #f3f9fb; }

.whiteTextColor {
  color: #f3f9fb; }

.headerBgColor {
  background-color: #113f67; }

.inputBgColor {
  background-color: #f3f9fb; }

ul {
  padding-inline-start: 0; }

p,
li {
  font-size: 1.5rem; }

h1,
h2,
h3,
h4,
strong {
  font-size: 3rem;
  margin: 1rem;
  padding: 1.5rem; }

a {
  font-size: 2rem; }

p,
h1,
h2,
h3,
h4,
strong {
  text-align: center; }

html {
  font-size: 62.5%; }

* {
  margin: 0; }

/* TEXT */
* {
  font-family: "Roboto", sans-serif; }

.noTextDecoration {
  text-decoration: none; }

.textAlignCenter {
  text-align: center; }

.textAlignLeft {
  text-align: left; }

/* DISPLAYS  */
.displayInLine {
  display: inline; }

.displayBlock {
  display: block; }

.displayFlex {
  display: flex; }

/* SPACING */
.imgMargin {
  margin: 2.5rem; }

.sideMargin2rem {
  margin-left: 2rem;
  margin-right: 2rem; }

.verticalMargin {
  margin-top: 2rem;
  margin-bottom: 2rem; }

.bottomPadding {
  padding-bottom: 1rem; }

/* FLEX  */
.evenlyFlex {
  justify-content: space-evenly; }

.flexWrap {
  flex-wrap: wrap; }

.flexAlignCenter {
  align-items: center; }

.flexColumn {
  flex-direction: column; }

/* SIZING  */
.fullWidth {
  width: 100%; }

.imgSize {
  height: 30rem;
  width: 40rem; }

.abtUsImg {
  width: 20%; }

.contentImgSize {
  width: 25%; }

.iframeSize {
  width: 100%;
  height: 500px; }

.tableSize {
  width: 80%; }

.autoWidth {
  width: auto !important; }

/* BORDERS */
.bottomBorder {
  border-bottom: 1px solid #113f67; }

.borderRadius {
  border-radius: 10px; }

/* GRID INDEX */
.indexGrid {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto auto auto auto;
  grid-template-areas: "header" "playerLogin" "serverFeatures" "news" "footer"; }

header {
  grid-area: header; }

.playerLogin {
  grid-area: playerLogin; }

.serverFeatures {
  grid-area: serverFeatures; }

.news {
  grid-area: news; }

footer {
  grid-area: footer; }

/* GRID ABOUT US */
.aboutUsGrid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto auto;
  grid-template-areas: "abtUsTxt abtUsVideo" "abtUsImgContainer abtUsImgContainer" "serverInfo serverInfo"; }

.abtUsTxt {
  grid-area: abtUsTxt;
  align-self: center; }

.abtUsVideo {
  grid-area: abtUsVideo; }

.abtUsImgContainer {
  grid-area: abtUsImgContainer; }

.serverInfo {
  grid-area: serverInfo; }

/* Index Login */
.loginFrame {
  background-color: #113f67;
  height: 33rem;
  width: 25rem;
  padding: 1rem; }

.loginInputPadding {
  padding: 1rem; }

/* BUTTONS */
.button, .smallerButton {
  background-color: #226597;
  width: 11rem;
  height: 4.5rem;
  border: solid;
  color: #f3f9fb;
  font-size: 2rem; }

.smallerButton {
  width: 8rem;
  height: 3rem;
  font-size: 1.2rem; }

/* Contact */
input,
select,
textarea {
  margin: 1.2rem; }

/* Border */
.solidBlueBorder {
  border: #113f67 solid 0.5rem;
  border-radius: 10px; }

/* Donwloads Frame */
.autoFrame {
  height: auto;
  text-align: center;
  border: #113f67 solid 0.5rem;
  border-radius: 10px; }

.blackBgColor {
  background-color: rgba(0, 0, 0, 0.822); }

/* LeaderBoards */
table {
  border: solid 0.2rem black;
  border-radius: 2px;
  font-size: 1.5rem;
  border-spacing: 0; }

th,
tr,
td {
  padding: 1rem; }

/* FORMS BORDER */
form,
input,
select,
textarea {
  border-radius: 5px; }

/* Mobile */
@media only screen and (max-width: 769px) {
  .imgContainer {
    flex-direction: column;
    align-items: center; }
  .contentImgSize {
    width: 80%;
    padding: 1rem; }
  div.serverFeatures div .contentImgSize,
  .abtUsImg {
    width: 40%;
    margin: 0.5rem; }
  div.serverFeatures div,
  main div {
    flex-wrap: wrap; }
  header {
    flex-direction: column; }
  nav ul.displayInLine {
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
    padding: 0; }
  nav ul li {
    margin: 0.5rem; }
  .sideMargin2rem {
    margin-left: 1.5rem; }
  footer div div ul {
    padding-top: 0.9rem;
    padding-inline-start: 0; }
  footer div {
    flex-direction: column; }
  /* GRID ABOUTUS */
  .aboutUsGrid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
    grid-template-areas: "abtUsTxt" "abtUsVideo" "abtUsImgContainer" "serverInfo"; }
  /* ABOUTUS */
  .iframeSize {
    width: 80%;
    height: 30rem; } }

.noBullets {
  list-style-type: none; }

.headerHeight {
  height: auto; }

.logoSize {
  height: 15rem;
  width: 15rem; }

.crystalBg {
  background-image: url(../assets/img/crystalBg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }
