ul {
  padding-inline-start: 0;
}

p,
li {
  font-size: 1.5rem;
}

h1,
h2,
h3,
h4,
strong {
  font-size: 3rem;
  margin: 1rem;
  padding: 1.5rem;
}

a {
  font-size: 2rem;
}

p,
h1,
h2,
h3,
h4,
h5 strong {
  text-align: center;
}

h5 {
  font-size: 2rem;

  padding: 1rem;
}

/* FIX FOOTER AL FONDO */

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
