/* Index Login */
.loginFrame {
  background-color: map-get($colors, darkBlueColor);
  height: 33rem;
  width: 25rem;
  padding: 1rem;
}
.loginInputPadding {
  padding: 1rem;
}

/* BUTTONS */

.button {
  background-color: map-get($colors, btnBg);
  width: 11rem;
  height: 4.5rem;
  border: solid;
  color: map-get($colors, whiteColor);
  font-size: 2rem;
}

.smallerButton {
  @extend.button;
  width: 8rem;
  height: 3rem;
  font-size: 1.2rem;
}

/* Contact */

input,
select,
textarea {
  margin: 1.2rem;
}

/* Border */

.solidBlueBorder {
  border: map-get($colors, darkBlueColor) solid 0.5rem;
  border-radius: 10px;
}

.bottomRadius {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.topBorderWhite {
  border-top: map-get($colors, whiteColor) solid 2px;
}

/* INDEX CARDS */

.contentCard {
  border: map-get($colors, lightBlueColor) solid 0.5rem;
  background-color: map-get($colors, whiteColor);
  border-radius: 10px;
}

/* Donwloads Frame */

.autoFrame {
  height: auto;
  text-align: center;
  border: map-get($colors, darkBlueColor) solid 0.5rem;
  border-radius: 10px;
}

.blackBgColor {
  background-color: rgba(0, 0, 0, 0.822);
}

/* TABLES */

table {
  border: solid 0.2rem map-get($colors, blackColor);
  border-radius: 2px;
  font-size: 1.5rem;
  border-spacing: 0;
}

th,
tr,
td {
  padding: 1rem;
}

th,
td {
  border: 1px solid;
}

/* FORMS BORDER */

form,
input,
select,
textarea {
  border-radius: 5px;
}

/* FILLER IMAGE */

.fillerImg {
  height: 640px;
  width: auto;
}
